@model TokenizerApp.Models.TokenRequest
@{
    ViewData["Title"] = "Wizualizator Tokenizacji";
}

<h2>Tokenizuj tekst</h2>

<form asp-action="Index" method="post">
    <div class="mb-3">
        <textarea asp-for="Text" rows="4" cols="50" class="form-control"></textarea>
    </div>
    <div class="tokenizer-form-group">
        <div>
            <label for="Model" class="form-label">Model:</label>
            <select asp-for="Model" class="form-select" id="Model">
                <option>BERT</option>
                <option>RoBERTa</option>
                <option>GPT2</option>
                <option>LLaMA</option>
                <option>T5</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tokenizuj</button>
    </div>
</form>

<div class="tokenizer-result">
    @if (ViewBag.Tokens != null)
    {
    <label>Tokeny:</label>
    <div class="tokens-list">
        @foreach (var token in ViewBag.Tokens as List<string>)
            {
        <span class="token-item">@token</span>
            }
    </div>
    }
</div>